<template>
  <h1>{{ msg }}</h1>

  <input
    type="file"
    @change="selectFile"
  />
  <select
    v-model="layer"
    @change="layerChange"
  >
    <option
      disabled
      selected
      value="0"
    >Select value</option>
    <option
      v-for="val in maxLyaers"
      :value='val'
      :key='`layer-option-${val}`'
    >Layer {{val}}</option>
  </select>
  <div ref="viewport"></div>
  <pre>
  {{ parser }}
  </pre>
</template>

<script lang="ts">
import { ref, defineComponent, watchEffect } from "vue";
import { ListPayload, NBTParser, TagPayload } from "mc-anvil";
import { Blueprint, NBT } from "../nbt";
import { IRender, VoxelRender } from "../engine/render";

type TagData = {
  type: number;
  name: string;
  data: TagPayload;
};

export default defineComponent({
  name: "HelloWorld",
  props: {
    msg: {
      type: String,
      required: true,
    },
  },
  setup: () => {
    const count = ref(0);
    const layer = ref(0);
    const maxLyaers = ref(0);
    const parser = ref<TagData | null>(null);

    const render = new VoxelRender();
    const blueprint = new Blueprint();

    const layerChange = (event: Event) => {
      const val = (<HTMLInputElement>event.target)?.value;
      console.log(val);

      console.clear();
      render.clear();
      for (const block of blueprint.getYLayer(parseInt(val) - 1)) {
        // @ts-ignore
        if (block.type) render.scene.add(block.createMesh());
      }
    };

    const selectFile = async (event: Event) => {
      const reader = new FileReader();
      reader.onload = async (e) => {
        const nbt = new NBT(e.target?.result as ArrayBuffer);
        blueprint.init(
          nbt.getTag("blocks") as Array<number>,
          nbt.getTag("size_y") as number,
          nbt.getTag("size_z") as number,
          nbt.getTag("size_x") as number
        );
        console.log((nbt.getTag("palette") as ListPayload).data);
        console.log(blueprint);

        maxLyaers.value = blueprint.blockmatrix.length;
      };
      // @ts-ignore
      reader.readAsArrayBuffer(event.target?.files[0]);
    };
    return { count, selectFile, parser, layer, layerChange, maxLyaers };
  },
});
</script>

<style scoped>
a {
  color: #42b983;
}

label {
  margin: 0 0.5em;
  font-weight: bold;
}

code {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 4px;
  color: #304455;
}
</style>
