<template>
  <input type="file" @change="selectFile" />

  <div class="grid grid-cols-3 gap-4">
    <c-select v-model="layer" :items="layersSelectorItems" />
  </div>

  {{ getBuildingSize() }}

  <div ref="viewport" class="grid grid-cols-tview gap-4 place-content-center">
    <div class="top-view justify-self-end self-end">
      <div
        class="grid gap-1"
        :style="{
          gridTemplateColumns: `repeat(${sizes.x}, 1fr)`,
        }"
      >
        <template v-for="(rowB, index) of topView" :key="`top-row-${index}`">
          <div
            v-for="(colB, colindex) of rowB"
            :key="`top-row-${index}-col-${colindex}`"
            :class="{
              active: index === row || colindex === col,
            }"
            :style="getStyle(colB)"
            class="imgStreigth"
            :title="getTitle(colB)"
            @click="selectBlock(index, colindex)"
          />
        </template>
      </div>
    </div>
    <Ruller class="justify-self-center" :size="maxYZ()" reverse />
    <div class="front-view justify-self-start self-start">
      <div
        class="grid gap-1"
        :style="{
          gridTemplateColumns: `repeat(${sizes.z}, 1fr)`,
        }"
      >
        <template
          v-for="(rowB, index) of frontView"
          :key="`front-row-${index}`"
          :class="{
            active: index === frontView.length - layer - 1,
          }"
        >
          <div
            v-for="(colB, colindex) of rowB"
            :key="`front-row-${index}-col-${colindex}`"
            :style="getStyle(colB)"
            class="imgStreigth"
            :class="{
              active: index === frontView.length - layer - 1,
            }"
            :title="getTitle(colB)"
            @click="selectY(frontView.length - index - 1)"
          />
        </template>
      </div>
    </div>

    <Ruller class="justify-self-end" horizontal :size="maxXZ()" />
    <div></div>
    <Ruller class="justify-self-start" horizontal :size="sizes.z" />

    <div class="side-view justify-self-end">
      <div
        class="grid gap-1"
        :style="{
          gridTemplateColumns: `repeat(${sizes.x}, 1fr)`,
        }"
      >
        <template v-for="(rowB, index) of sideView" :key="`side-row-${index}`">
          <div
            v-for="(colB, colindex) of rowB"
            :key="`side-row-${index}-col-${colindex}`"
            :style="getStyle(colB)"
            class="imgStreigth"
            :class="{
              active: index === sideView.length - layer - 1,
            }"
            :title="getTitle(colB)"
          />
        </template>
      </div>
    </div>
    <Ruller class="justify-self-center" :size="maxYX()" />
  </div>
</template>

<script lang="ts">
import { ref, defineComponent, watchEffect, watch, computed } from "vue";
import { ListPayload, NBTParser, TagPayload } from "mc-anvil";
import { Blueprint, NBT } from "../nbt";
import CSelect from "../components/forms/CSelect.vue";
import Ruller from "./Ruller.vue";

type TagData = {
  type: number;
  name: string;
  data: TagPayload;
};

export default defineComponent({
  name: "Render2d",
  components: {
    CSelect,
    Ruller,
  },
  setup: () => {
    const maxLyaers = ref(0);
    const parser = ref<TagData | null>(null);

    //const render = new VoxelRender();
    const blueprint = new Blueprint();
    const topView = ref<number[][]>([]);
    const frontView = ref<number[][]>([]);
    const sideView = ref<number[][]>([]);

    const sizes = ref({ y: 0, z: 0, x: 0 });

    const layer = ref(-1);
    const row = ref(-1);
    const col = ref(-1);

    watch([layer], () => {
      topView.value = Array.from(blueprint.getYLayer(layer.value));
    });

    watch([row], () => {
      frontView.value = blueprint.getZLayer(row.value);
    });

    watch([col], () => {
      sideView.value = blueprint.getXLayer(col.value);
    });

    const getStyle = (int: number) => {
      return blueprint.pallete[int].getStyle();
    };

    const getTitle = (int: number) => {
      return blueprint.pallete[int].texture;
    };

    const selectFile = async (event: Event) => {
      const reader = new FileReader();
      reader.onload = async (e) => {
        const nbt = new NBT(e.target?.result as ArrayBuffer);
        blueprint.init(
          nbt.getTag("blocks") as Array<number>,
          nbt.getTag("size_y") as number,
          nbt.getTag("size_z") as number,
          nbt.getTag("size_x") as number
        );
        blueprint.setPallete(nbt.getPallete());

        maxLyaers.value = blueprint.blockmatrix.length;

        sizes.value = blueprint.getSizes();

        layer.value = 0;
        row.value = 0;
        col.value = 0;
      };
      // @ts-ignore
      reader.readAsArrayBuffer(event.target?.files[0]);
    };

    const layersSelectorItems = computed(() => {
      const temp = [...new Array(maxLyaers.value)].map((item, index) => {
        return { value: index, text: `Layer: ${index + 1}` };
      });
      return temp;
    });

    const selectY = (y: number) => {
      layer.value = y;
    };

    const selectBlock = (rowIndex: number, colIndex: number) => {
      row.value = rowIndex;
      col.value = colIndex;
    };

    const maxYZ = () => {
      const { y, z } = sizes.value;
      return Math.max(y, z);
    };

    const maxXZ = () => {
      const { x, z } = sizes.value;
      return Math.max(x, z);
    };

    const maxYX = () => {
      const { y, x } = sizes.value;
      return Math.max(y, x);
    };



    const getBuildingSize = () => {
      const { y, z, x } = sizes.value;
      return `${y} x ${z} x ${x}`;
    };

    return {
      selectFile,
      parser,
      layer,

      topView,
      frontView,
      sideView,

      getBuildingSize,
      getStyle,
      getTitle,

      selectBlock,
      selectY,
      row,
      col,

      layersSelectorItems,
      maxYZ,
      maxXZ,
      maxYX,
      sizes,
    };
  },
});
</script>

<style scoped>
a {
  color: #42b983;
}

label {
  margin: 0 0.5em;
  font-weight: bold;
}

code {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 4px;
  color: #304455;
}
.imgStreigth {
  height: 16px;
  width: 16px;
  border: 1px solid black;
  cursor: pointer;
}

.imgStreigth.active {
  border-color: red;
}

td.active .imgStreigth {
  border-color: red;
}

tr.active td .imgStreigth {
  border-color: red;
}
</style>
