<template>
    <div class="grid gap-1" :class="getClass">
      <div class="rullerCell" v-for="i in leng" :key='`cell-${i}`'>{{ display(i) }}</div>
    </div>
</template>
<script lang="ts">
import { computed, defineComponent, ref, watch } from "vue";

export default defineComponent({
    props:{
        size:{
            type: Number,
            required: true
        },
        horizontal: {
            type: Boolean,
            default: false
        },
        reverse: {
            type: Boolean,
            default: false
        }
    },
    setup(props) {
        const leng = ref(0)
        const {horizontal, reverse} = props;

        const display = (i: number) =>  i;
        const reverseDisplay  = (i: number) => leng.value - i + 1

        watch(()=> props.size, (val)=>{
            leng.value = val;
        }, {immediate: true})

        const getClass = computed(()=>{
            return horizontal ? "grid-flow-col auto-cols-max" : "grid-cols-1";
        })

        return {
            leng,
            getClass,
            display: reverse ? reverseDisplay : display
        }
    },
})
</script>

<style scoped>

.rullerCell{
  height: 16px;
  width: 16px;
  border: 1px solid black;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
}
</style>
