<template>
    <select
      v-model="innerValue"
      class="
        relative
        w-full
        py-2
        pl-3
        pr-10
        text-left
        bg-white
        rounded-lg
        shadow-md
        cursor-default
        focus:outline-none
        focus-visible:ring-2
        focus-visible:ring-opacity-75
        focus-visible:ring-white
        focus-visible:ring-offset-orange-300
        focus-visible:ring-offset-2
        focus-visible:border-indigo-500
        sm:text-sm
      "
    >
      <option disabled selected value="-1">Select value</option>
      <option
        v-for=" (val, index) of innerItems"
        :value="getValue(val)"
        :key="`cselect-option-${index}`"
      >
        {{ getText(val) }}
      </option>
    </select>
</template>

<script lang="ts">

import { ref, defineComponent, computed, watch, watchEffect } from "vue";


export type SelectItemObject = {
    value: number | string
    text: number | string
}

export type SelectItem = SelectItemObject | string;

export type SelectItems = Array<SelectItem>;

export default defineComponent({
    name: 'CSelect',
    props: {
        modelValue: {
            required: true,
        },
        items: {
            type: Object as () => SelectItems,
            default: () => { return []},
        }
    },
    emits: ['update:modelValue'],
    setup: (props, {emit}) => {

        const innerValue = computed({
            get: () => { return props.modelValue; },
            set: (value) => {
                emit('update:modelValue', value)
            },
        });

        const innerItems = ref<SelectItems>([])

        watch(()=> props.items, (val)=>{
            innerItems.value = val;
        }, {
            deep:true
        })

        const getValue = (item: SelectItem) => {
            if(item instanceof Object && 'value' in item){
                return item.value;
            }
            return item;
        }

        const getText = (item: SelectItem) => {
            if(item instanceof Object && 'text' in item){
                return item.text;
            }
            return item;
        }
        return {
            innerValue,
            innerItems,
            getValue,
            getText,
        }
    }
})
</script>